*{
    margin: 0;
    padding: 0;
}
body{
    background: url(https://t3.ftcdn.net/jpg/03/44/67/38/360_F_344673825_6fU6IORyipkYpfU1mg2vmxtHxDToUO6Q.jpg);
    background-size: cover;
    height: auto;
    object-fit: cover;
    
  
}
div.main{
    width:  fit-content;
    margin: 100px auto 0px;
}
h2{
    text-align: center;
    padding:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.register{
    background-color: rgba(0,0,0, 0.5);
    width: 500px;;
    font-size: 20px;
    border-radius: 30px;
    border: 1px soid rgba(0,0,0, 0.5);
    box-shadow: 2px 2px 15px;
    color:#fff;
    margin:40px;
}

input[type="submit"]{
    padding: 10px 15px;
    font-size: 14px;

}

.form-section{
    text-align: center;
}